<div class="owner-content" *ngIf="owner">
  <div class="header-background">
    <span>Owner Details</span>
  </div>
  <div class="owner-border">
    <div class="owner-fullname">
      <p>Fullname: {{owner.fullName}}</p>
    </div>
    <div class="owner-image">
      <img src="{{owner.imageUrl}}">
    </div>
    <div class="owner-email">
      <p>Email: {{owner.email}}</p>
    </div>
    <div class="owner-tel">
      <p>Telephone: {{owner.tel}}</p>
    </div>
  </div>
  <div class="header-background">
    <span>Owner's pets</span>
  </div>
  <div class="flex-row">
    <div class="pet-border" *ngFor="let pet of owner.pets">
      <div class="pet-fullname">
        <p>Fullname: {{pet.fullName}}</p>
      </div>
      <div class="pet-image">
        <img src="{{pet.imageUrl}}">
      </div>
      <div class="pet-kind">
        <p>Kind: {{pet.kind}}</p>
      </div>
      <div *ngIf="pet.appointmentTime" class="pet-appointment-time">
        <p>Appointment Time: {{pet.appointmentTime}}</p>
      </div>
      <div *ngIf="!pet.appointmentTime" class="pet-appointment-time">
        <p>No appointment</p>
      </div>
    </div>
    <div class="no-pets" *ngIf="owner.pets.length === 0">No Pets!</div>
  </div>
  <div class="owner-buttons">
    <button routerLink="/owner" class="cancel">Back</button>
    <button class="public" routerLink="/owner/edit/{{owner._id}}">Edit</button>
  </div>
</div>


<app-loader [isLoading]="!owner"></app-loader>