div {
  background-color: rgb(140, 14, 14);
  color: rgb(218, 197, 197);
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

ul{
  margin: 2em 5em 2em 5em;
  list-style-type: none;
}

ul li {
  margin: 0.5em 0 0 0;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

a {
  margin: 0 5px;
}

