<ul>
    <div *ngIf="petList">
        <div *ngFor="let pet of petList">
            <li class="row_appointments">
                <section class="pet">
                    <div class="pet_text">
                        <h3>Pet name:</h3>
                        <h3>{{pet.fullName}}</h3>
                    </div>
                    <div class="image">
                        <img class="pet_image" src="{{pet.imageUrl}}" alt="#">
                    </div>
                </section>
                <section *ngIf="pet.ownerId" class="owner">
                    <div class="owner_text">
                        <h3>Owner's name:</h3>
                        <h3>{{pet.ownerId.fullName}}</h3>
                    </div>
                    <div class="image">
                        <img class="owner_image" src="{{pet.ownerId.imageUrl}}" alt="#">
                    </div>
                </section>
                <section *ngIf="!pet.ownerId" class="owner">
                    <div class="owner_text">
                        <h3>No owner</h3>
                    </div>
                </section>
                <section *ngIf="pet.appointmentTime" class="appointment">
                    <div class="appoitment_text">
                        <h3>Appointment time:</h3>
                        <h3>{{pet.appointmentTime}}</h3>
                    </div>
                </section>
                <section *ngIf="!pet.appointmentTime" class="appointment">
                    <div class="appoitment_text">
                        <h3>No Appointment</h3>
                    </div>
                </section>
            </li>
        </div>
        <div *ngIf="petList.length === 0">No Appoitments!</div>
    </div>
    <div *ngIf="!petList">
        Loading...
    </div>
</ul>