<div class="pet-content" *ngIf="pet">
  <div class="header-background">
    <span>Are you sure you want to delete this?</span>
  </div>
  <div class="pet-border">
    <div class="pet-fullname">
      <p>Fullname: {{pet.fullName}}</p>
    </div>
    <div class="pet-image">
      <img src="{{pet.imageUrl}}">
    </div>
    <div class="pet-kind">
      <p>Kind: {{pet.kind}}</p>
    </div>
    <div *ngIf="pet.appointmentTime" class="pet-appointment-time">
      <p>Appointment Time: {{pet.appointmentTime}}</p>
    </div>
    <div *ngIf="!pet.appointmentTime" class="pet-appointment-time">
      <p>No appointment</p>
    </div>
    <div *ngIf="pet.ownerId" class="pet-owner">
      <p>Owner's name: {{pet.ownerId.fullName}}</p>
    </div>
    <div *ngIf="!pet.ownerId" class="pet-owner">
      <p>No owner</p>
    </div>
    <div class="pet-delete-buttons">
      <button type="button" routerLink="/pet" class="cancel">Cancel</button>
      <button class="public" (click)="submitHandler()">Delete</button>
    </div>
  </div>
</div>

<app-loader [isLoading]="!pet"></app-loader>

