<div class="pet-content" *ngIf="pet">
  <div class="pet-border">
    <div class="header-background">
      <span>Edit Pet</span>
    </div>
    <form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
      <div class="flex">
        <p>Fullname: </p>
        <input #fullName="ngModel" type="text" name="fullName" id="fullName" [ngModel]="pet.fullName" ngModel
          required minlength="5">
        <p class="error" *ngIf="fullName.touched && fullName.errors?.required">
          Fullname is required.
        </p>
        <p class="error" *ngIf="fullName.touched && fullName.errors?.minlength">
          Fullname must be at least 5 characters long.
        </p>
      </div>
      <div class="flex">
        <p>Image: </p>
        <input #imageUrl="ngModel" type="text" name="imageUrl" id="imageUrl" ngModel required
          [ngModel]="pet.imageUrl">
        <p class="error" *ngIf="imageUrl.touched && imageUrl.errors?.required">
          Image is required.
        </p>
      </div>
      <div class="flex">
        <p>Kind: </p>
        <input #kind="ngModel" type="text" name="kind" id="kind" ngModel required [ngModel]="pet.kind">
        <p class="error" *ngIf="kind.touched && kind.errors?.required">
          Kind is required.
        </p>
      </div>
      <div class="flex">
        <p>Appointment Time: </p>
        <input #appointmentTime="ngModel" type="text" name="appointmentTime" id="appointmentTime" ngModel required
          [ngModel]="pet.appointmentTime">
      </div>
      <div class="new-pet-owner">
        <label for="petOwnerId">Owner <span class="red">*</span></label>
        <select id="petOwnerId">
          <option value="">None</option>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <button type="button" class="red-button" routerLink="/pet/detail/{{pet._id}}">Cancel</button>
      <button class="green-button">Save</button>
    </form>
  </div>
</div>