<div class="pet-content" *ngIf="!(isLoading$ | async)">
  <div class="pet-border" *ngIf="(pet$ | async)">
    <div class="header-background">
      <span>Edit Pet</span>
    </div>
    <form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
      <div class="flex">
        <p>Fullname: </p>
        <input #fullName="ngModel" type="text" name="fullName" id="fullName" [ngModel]="(pet$ | async).fullName" ngModel
          required minlength="5">
        <p class="error" *ngIf="fullName.touched && fullName.errors?.required">
          Fullname is required.
        </p>
        <p class="error" *ngIf="fullName.touched && fullName.errors?.minlength">
          Fullname must be at least 5 characters long.
        </p>
      </div>
      <div class="flex">
        <p>Image: </p>
        <input #imageUrl="ngModel" type="text" name="imageUrl" id="imageUrl" ngModel required
          [ngModel]="(pet$ | async).imageUrl">
        <p class="error" *ngIf="imageUrl.touched && imageUrl.errors?.required">
          Image is required.
        </p>
      </div>
      <div class="flex">
        <p>Kind: </p>
        <input #kind="ngModel" type="text" name="kind" id="kind" ngModel required [ngModel]="(pet$ | async).kind">
        <p class="error" *ngIf="kind.touched && kind.errors?.required">
          Kind is required.
        </p>
      </div>
      <div class="flex">
        <p>Appointment Time: </p>
        <input #appointmentTime="ngModel" type="text" name="appointmentTime" id="appointmentTime" ngModel required
          [ngModel]="(pet$ | async).appointmentTime">
      </div>
      <!-- <div class="new-pet-owner" *ngIf="!!(pet$ | async).ownerId === true">
        <label for="ownerId">Owner</label>
        <select id="ownerId" name="ownerId" [(ngModel)]="ownerId">
          <option [value]="(pet$ | async).ownerId">{{(pet$ | async).ownerId.fullName}}</option>
          <option value="">None</option>
          <option *ngFor="let owner of (ownerList$ | async)" [value]="owner._id">{{owner.fullName}}</option>
        </select>
      </div> -->
      <div class="new-pet-owner">
        <label for="ownerId">Owner</label>
        <select id="ownerId" name="ownerId" [(ngModel)]="ownerId$">
          <option value="">None</option>
          <option *ngFor="let owner of (ownerList$ | async)" [value]="owner._id">{{owner.fullName}}</option>
        </select>
      </div>
      <button type="button" class="red-button" routerLink="/pet/detail/{{(pet$ | async)._id}}">Cancel</button>
      <button class="green-button">Save</button>
    </form>
  </div>
</div>

<app-loader [isLoading]="isLoading$ | async"></app-loader>