<div *ngIf="!isLogged">
    <nav>
        <ul>
            <li>
                <a href="#" (click)="loginHandler()">Login</a>
            </li>
            <li>
                <a href="#">Register</a>
            </li>
        </ul>
    </nav>
</div>
<div *ngIf="isLogged">
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">New Pet</a>
            </li>
            <li>
                <a href="#">New Owner</a>
            </li>
            <li>
                <a href="#">New Appointment</a>
            </li>
        </ul>
        <div>Hello, username@localdomain.com</div>
        <a (click)="logoutHandler()">Logout</a>
    </nav>
</div>
<h1>The Pet Clinic</h1>