/* welcome component */

.welcome {
  padding: 0.3em 0.5em;
  font-size: 1.5em;
  margin-top: 1em;
  
}

.welcome h3 {
  background-color: #4ebced;
  border-radius: 0.3em;
  padding: 0.3em 1em;
  display: inline-block;
  color: rgb(218, 197, 197);
  background-color: rgb(155, 15, 15);
  border-radius: 20px;
  margin-bottom: 5px;
}

.welcome p {
  padding: 1em;
  border-bottom: 1px solid #999;
  font-style: normal;
  color: rgb(218, 197, 197);
  background-color: rgb(155, 15, 15);
  border-radius: 20px;
}

.welcome a {
  text-decoration: none;
  color: rgb(218, 197, 197);
  background-color: rgb(155, 15, 15);
  border-radius: 20px;
  padding: 0.5em 1em;
  margin: 1em;
}

.welcome a:hover {
  cursor: pointer;
  color: #08B1A2;
}

.welcome ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 1em;
}

.welcome li {
  list-style: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}