<div *ngIf="!(isLogged$ | async)" class="welcome">
    <div class="flex-column">
        <h3>Welcome!</h3>
        <p>Pet Clinic app is a place, where you can book an appointment for your pet.</p>
    </div>
    <div class="logged">
        <ul>
            <li>
                <a routerLink="/user/login">
                    <i class="fas fa-sign-in-alt"></i>
                    Login
                </a>
            </li>
            <li>
                <a routerLink="/user/register">
                    <i class="fas fa-user-plus"></i>
                    Register
                </a>
            </li>
        </ul>
    </div>
</div>

<div>
    <main>
        <app-patients-list></app-patients-list>
    </main>
</div>