<div class="new-pet-border">
  <div class="header-background">
    <span>New Pet</span>
  </div>
  <form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
    <div class="new-pet-fullname">
      <label for="fullName">Fullname <span class="red">*</span></label>
      <input #fullName="ngModel" type="text" name="fullName" id="fullName" ngModel required minlength="5">
      <p class="error" *ngIf="fullName.touched && fullName.errors?.required">
        Pet fullname is required.
      </p>
      <p class="error" *ngIf="fullName.touched && fullName.errors?.minlength">
        Pet fullname must be at least 5 characters long.
      </p>
    </div>
    <div class="new-pet-image">
      <label for="imageUrl">Image <span class="red">*</span></label>
      <input #imageUrl="ngModel" type="text" name="imageUrl" id="imageUrl" ngModel required>
      <p class="error" *ngIf="imageUrl.touched && imageUrl.errors?.required">
        Pet image is required.
      </p>
    </div>
    <div class="new-pet-kind">
      <label for="kind">Kind <span class="red">*</span></label>
      <input #kind="ngModel" type="text" name="kind" id="kind" ngModel required>
      <p class="error" *ngIf="kind.touched && kind.errors?.required">
        Pet kind is required.
      </p>
    </div>
    <div class="new-pet-appointment-time">
      <label for="appointmentTime">Appointment Time <span class="red">*</span></label>
      <input #appointmentTime="ngModel" type="text" name="appointmentTime" id="appointmentTime" ngModel>
    </div>
    <div class="new-pet-owner">
      <label for="petOwnerId">Owner <span class="red">*</span></label>
      <select id="petOwnerId">
        <option value="">None</option>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div class="new-pet-buttons">
      <button type="button" routerLink="/pet" class="cancel">Back</button>
      <button class="public">Create</button>
    </div>

  </form>
</div>